<div class="panel panel-default">
  <div class="panel-header">
    <%= fa_icon "circle" %>
    <h4><%= "#{@sentence.tense.capitalize} #{@sentence.tense_modifier}" %></h4>
    <%= fa_icon "circle"%>
  </div>
  <div class="panel-body">
    <div class="timeline">
	<div class="before-meter">
	<%= fa_icon "clock-o 3x" %>
	</div>
	<div class="meter-container animate">
		<div class="meter">
		  <div class="now">
			<%= fa_icon "map-marker 2x"%>
			<span class="marker-label">Now</span>
		  </div>	
		  <span style="width: 10%; margin-left: 45%;"></span>
		</div>
	</div>
	</div>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<h4 class="panel-title">Uses</h4>
		</li>
		<li class="list-group-item">
			<ul class="uses">
				<li>Actions occurring right now.</li>
				<li>Longer temporary processes happening around now.</li>
				<li>Very certain plans in the future.</li>
			</ul>
		</li>
		<li class="list-group-item">
		<h4 class="panel-title">Examples</h4>
		</li>
		<li class="list-group-item">
		<ul class="eg-list">
			<li class="eg">
				<span>"You are reading this."</span><br>
				<span class="eg-explanation">(Action occurring right now)</span>
			</li>
			<li class="eg">
				<span>"I am studying in Sydney for a year."</span><br>
				<span class="eg-explanation">(Longer temporary process - Not necessarily this exact second)</span>
			</li>
			<li class="eg">
				<span>"We are watching the game on the weekend."</span><br>
				<span class="eg-explanation">(Very certain plan - we already have tickets!)</span>
			</li>
		</ul>
		</li>
	</ul>
</div>