<div id= "subject-options" class="options-container">

  <div class="panel panel-default word-select">	
    <div class="panel-header">
      <%= fa_icon "circle" %>
      <h4><%= session[:editing].capitalize %></h4>
      <%= fa_icon "circle"%>
    </div>
    <div class="panel-body">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
	  <% @subjects.each do |subject| %>
        <%= form_for @sentence, remote: true do |f|  %>
		  <%= f.hidden_field :subject_id, value: subject.id %>
		  <%= f.submit "#{subject.word}", class: "word #{option_active?(:subject_id, subject.id)}" %>
		<% end %>
	  <% end %>
	</div>
  </div>

  <div id= "explanation" class="panel panel-default">	
	<div class="panel-heading">
	  <h1 class="panel-title"><%= @sentence.subject.word %></h1>
	</div>
    <div class="panel-body">
    </div>
  </div>

</div>