<div class="lang">
	<%= image_tag "eng.png", alt: "english" %>
	<%= image_tag "esp.png", alt: "español" %>
</div>
	<div class="fixed-content">
		<%= image_tag "sentenzr.png", class: "logo" %>
		<div id="sentence">
			<%= render 'sentence_body' %>
		</div>
	</div>
	<div id="current-options">
		<div id ="main">
			<%= render "main" %>
		</div>
		<div id="secondary">
			<%= render "secondary" %>
		</div>
	</div>